{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - console admin {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        <form method="post" action="/Admin/sendCss">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Css du blog</label>
                <textarea class="form-control" id="" name="cssContent" rows="10">{{ cssFileData }}</textarea>
            </div>
            <input type="submit" class="btn btn-blog" value="Soumetre">
        </form>
    </div>

{% endblock %}