body {
    /* couleur police site */
    color : black;
}

.btn-blog {
    color: white;
    background-color: #42affa;
    margin:0em;
}

h3 {
	margin-bottom:1em;
}

.maxvh {
    max-height: 45vh;
    overflow: scroll;
}