<html>
<head></head>
<body>
<h1>Demande de contact</h1>
<p>Venant de l'article : {{ article.Titre }}</p>
<p><a href="http://www.tp.local/Article/Show/{{ article.Id }}">URL de l'article</a></p>
<p> Contenu du message :</p>
<p>
    {{ message }}
</p>
</body>
</html>