<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}PWB Domo BLOG{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/pepper-grinder/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <link rel="stylesheet" href="./asset/css/master.css">
    {% block css %}{% endblock %}
</head>

<body>

    <!--Barre de navigation>-->
<nav class="navbar sticky-top nav-pills navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Article/ListAll">Blog de PWB Domo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/Login">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Inscription">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Article/Add">Ajout d'un article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin">Administrateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Logout">Déconnexion</a>
            </li>
        </ul>

        <!--liste déroulante de catégories dans la Recherche -->
        <form class="form-inline" method="search" action="/Catégorie/Show/{{ post.search }}">
            <select name="Catégorie" id="catégo-select">
                <option value="Toutes les catégories">Toutes les catégories</option>
                <option value="Alarme">Alarme</option>
                <option value="Eclairage">Eclairage</option>
                <option value="Détecteur">Détecteur</option>
                <option value="Chauffage">Chauffage</option>
                <option value="Motorisation">Motorisation</option>
                <option value="Electro">Electroménager</option>
                <option value="EquipExté">Equipement d'extérieur</option>
            </select>
            <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="OK" name="searchSubmit">
        </form>
</nav>


    {% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script language="javascript" type="text/javascript" src="/asset/librairies/editarea/edit_area/edit_area_full.js"></script>
{% block javascript %}
<script>
    $(function() {
        //initialisation syntax color textarea
        editAreaLoader.init({
            id : "textarea_1"		// textarea id
            ,syntax: "css"			// syntax to be uses for highgliting
            ,start_highlight: true		// to display with highlight mode on start-up
        });
        //fonction pour enlever la toolbar de la lib "edit_area" 200ms après le chargement
        function fEALoaded() {
            $('#frame_textarea_1').contents().find('.area_toolbar').hide();
            $('#EditAreaArroundInfos_textarea_1').hide();
        }
        setTimeout(function(){ fEALoaded(); }, 200);
    });
</script>
{% endblock %}

</body>
</html>
