{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Connectez vous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        {% if session.errorlogin is defined %}
            <div class="alert alert-danger">{{ session.errorlogin }}</div>
        {% endif %}
        <form method="post" action="/Login">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="submit">
        </form>

        <!--Visible du rédacteur-->
        {% if session.redacteur is defined %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rédac
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/?controller=Article&action=ListAll">Liste des articles</a>
                        <a class="dropdown-item" href="/?controller=Article&action=Add">Ajout d'un article</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}

        <!--Visible de l'admin-->
        {% if session.admin is defined %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/?controller=Article&action=ListAll">Liste des articles</a>
                        <a class="dropdown-item" href="/?controller=Article&action=Modify">Modifier</a>
                        <a class="dropdown-item" href="/?controller=User&action=Modify">Modifier compte utilisateur</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

{% endblock %}